<% categories.each do |category| %>
  <li>
    <% if category.has_children? %>
      <a href="#"><%= category[:title] %></a>
      <ul class="menu vertical sublevel-<%= level + 1 %>">
        <%= render partial: 'shared/categories', locals: { categories: category.children } %>
      </ul>
    <% else %>
      <a href="#" class="subitem"><%= category[:title] %></a>
    <% end %>
  </li>
<% end %>