<div class="row">
  <div class="small-4 columns">
    <ul class="vertical accordion-menu menu" data-accordion-menu>
      <%= render partial: 'shared/categories', locals: { categories: @categories, level: 0 } %>
    </ul>
  </div>
  <div class="small-8 columns">

  </div>
</div>
